//Font Stack Variables
$logo: 2.5em;
$main-header: 1.75em;
$secondary-header: 1.25em;
$link: 1.1em;

//Color Variables
$white: #f9f9f9;
$light-grey: #9f9f9f;
$grey: #696969;
$dark-grey: #505050;
$black: #212121;

$maroon: #871134;

$main-color: $black;
$secondary-color: $light-grey;
