.m-box{
  @extend .flex-center;
  height: 14.285712vh;
  width: 100vw;

  background: $grey;
}

.content-box{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 30%;

  background: indianred;
}
