.self-image{
  width: 150px;
  border-radius: 50% 50% 50% 10%;
}

.box-image-wf{
  background: url("../img/wireframethumb.svg");
  background-size: cover;
}
.box-image-pt{
  background: url("../img/prototypethumbnail.svg");
  background-size: cover;
}
.box-image-mu{
  background: url("../img/mondrian.jpg");
  background-size: cover;
}
