*,
*:before,
*:after{
  box-sizing: border-box;
}

body{
  background: $black;
  color: $white;
  letter-spacing: 1px;
}

h1, h2, h3{
  font-family: "Raleway";
  margin: 15px 0;
  font-weight: normal;
}

h1{
  font-size: $logo;
}
h2{
  font-size: $main-header;
}
h3{
  font-size: $secondary-header;
}

a{
  color: $light-grey;
  font-size: $link;
  text-decoration: none;
  &:hover{
    color: $maroon;
  }
}

p, ul, li{
  font-family: "Libre Baskerville";
}

p{
  line-height: 20px;
  font-size: 0.9em;
}

ul{
  list-style: none;
}
