.box-container{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.flex-container{
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
}

.delight-flex-container{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

// .flex-top{
//   display: flex;
//   flex-flow: column;
//   align-items: center;
//   justify-content: flex-start;
// }

.hidden{
  display: none;
}

.show{
  display: block;
}
