.box-container{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.flex-container{
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.delight-flex-container{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.hidden{
  display: none;
}

.show{
  display: block;
}
